
<ul>
  {{#each book in model}}
    <li class="booklist">
      <div class="row">
        <div class="col-xs-6">
         <p>
          {{book.volumeInfo.title}} by {{book.volumeInfo.authors}}
         </p>
         <p>
             Published on: {{book.volumeInfo.publishedDate}}
         </p>
        </div>
          <div class="col-xs-6 ">
            <img src={{book.volumeInfo.imageLinks.smallThumbnail}}>
          </div>
      </div>
      <form>

        <button {{action 'addBook2' book}} class="submit">Add To List</button>
      </form>
    </li>
    <hr class=btn-info>
  {{/each}}
  <br>
</ul>
