
<h1 class="header-font"> {{model.name}}</h1>
<ul>
  {{#each book in model.books}}
    <li>{{#link-to 'review' book.title}}{{book.title}}{{/link-to}}   <small>by {{book.author}}</small></li>
  {{/each}}
</ul>

<!-- {{#link-to 'list.new-book'}}<button class="btn btn-primary" >Add a Book</button>{{/link-to}} -->


<button class="btn btn-danger" {{action 'delete'}}>Delete list</button>

<hr class=btn-danger>
<h1 class="header-font">Book Lookup</h1>

<form>
  <div class="form-group">
    {{input value=search_term placeholder="Search term" id="search_term"}}
    <button class="btn btn-default" {{action 'submit'}}>Submit</button>
  </div>

</form>

{{outlet}}
