
<h1> {{model.name}}</h1>
<ul>
  {{#each book in model.books}}
    <li>{{#link-to 'review' book.title}}{{book.title}}{{/link-to}}   <small>by {{book.author}}</small></li>
  {{/each}}
</ul>
<!-- {{#link-to 'list.new-book'}}Add a Book{{/link-to}} -->

<button class="btn btn-danger" {{action 'delete'}}>Delete list</button>

<hr class=btn-danger>
<h1>Book Lookup</h1>
<hr class=btn-success>



<form>
  <div class="form-group">
    <label for="search_term">Search term</label>
    {{input value=search_term id="search_term"}}
  </div>

  <button class="btn btn-primary" {{action 'submit'}}>Submit</button>
</form>

{{outlet}}
