
 <h2>Reviews</h2>
{{#if model}}
  {{#each book in model}}
    {{book.book_title}} <small>by {{book.book_author}}</small><br>
  
    <a href='{{book.url}}'><small>Review by</small> {{book.byline}}</a><br>
    <br>
  {{/each}}
{{else}}
  <h1>There are no reviews</h1>
{{/if}}
